*{
    margin: 0;
    padding: 0;
}


/* /// ===== Assignment 43.1 and 43.2 =====/// */


/* img{
    width: 300px;
    height: 270px;
    margin: 30px 35px;
    cursor: pointer;
}

.hidden{
    width: 300px;
    height: 270px;
    margin: 30px 35px;
    padding: 10px;
    border: 2px solid black;
} */

/* /// =====  =====/// */


/* /// ===== Assignment 43.5=====/// */

/* /// ===== COUNTER STYLE START =====/// */

/* .counter{
    position: absolute;
    top: 40%;
    left: 45%;
}

.btns button{
    text-align: center;
    margin: 10px 14px;
    padding: 1px 23px;
}

.heading h1{
    text-align: center;
}

.number-box{
    border: 2px solid black;
}

.number-box h1{
    text-align: center;
} */

/* /// ===== COUNTER STYLE END =====/// */


/* /// ===== Assignment 49.2=====/// */


/* .para1{
    display: none;
} */


/* /// =====  =====/// */



/* /// ===== Assignment 53.1 =====/// */

